<ul nz-menu [nzMode]="'inline'" style="width: 240px;">
  <li nz-submenu nzOpen>
    <span title><i class="anticon anticon-mail"></i> Navigation One</span>
    <ul>
      <li nz-menu-item routerLink="/userCenter/userList" routerLinkActive="active">用户列表</li>
    </ul>
  </li>
  <li nz-submenu nzOpen>
    <span title><i class="anticon anticon-appstore"></i> Navigation Two</span>
    <ul>
      <li nz-menu-item routerLink="/userCenter/userDetail/10" routerLinkActive="active">Option 5</li>
      <li nz-menu-item>Option 6</li>
    </ul>
  </li>
  <li nz-submenu nzOpen>
    <span title><i class="anticon anticon-setting"></i> Navigation Three</span>
    <ul>
      <li nz-menu-item>Option 9</li>
      <li nz-menu-item>Option 10</li>
      <li nz-menu-item>Option 11</li>
    </ul>
  </li>
</ul>