<div class="search-result-list">
  <nz-table #basicTable [nzData]="dataSet">
    <thead>
      <tr>
        <th>序号</th>
        <th>项目名称</th>
        <th>公司名称</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>{{i + 1}}</td>
        <td>{{data.projectName}}</td>
        <td>{{data.companyName}}</td>
        <td>{{data.status}}</td>
        <td>
          <a routerLink="/userCenter/userDetail/{{data.id}}">修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data.id)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

